.sortModalWrapper{
    background: black;
    width: fit-content;
    position: fixed;
    height: 20vh;
    top: 15rem;
    /* left: 14rem; */
    right:1rem;
    z-index: 8888;
}

.sortModalWrapper .sortModal {
    position: relative;
    top: -1rem;
}

.sortModalWrapper .sortModal ul{
    list-style-type: none;
    padding-left: 0px;
}

.sortModalWrapper .sortModal li button{
    padding: 0.5rem;
    background-color: black;
    border: none;
    width: 8rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.sortModalWrapper .sortModal li button:focus{
    color:chartreuse
}

.sortModalWrapper .sortModal li i {
    font-size: 1.5rem;
}

@media(min-width: 520px) {
    .sortModalWrapper {
        width: fit-content;
        left: 27rem;
        height: 18vh;
    }
}

@media(min-width: 768px) {
    .sortModalWrapper {
        width: fit-content;
        left: 50rem;
        height: 20vh;
    }
}