.editProfileModalWrapper {
    background: lightgrey;
    width: 80vw;
    position: fixed;
    height: auto;
    top: 8rem;
    left: 1.5rem;
    z-index: 8888;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

.editProfileModal {
    display: flex;
    flex-direction: column;
}

.editProfileModal .edit-profile-modal-header{
    display: flex;
    justify-content: space-around;
}

.edit-profile-modal-header p {
    position: relative;
    top: -1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.edit-profile-modal-header i {
    cursor:pointer;
}

.edit-profile-image i{
    cursor: pointer;
}

.edit-profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 1rem;
}

.edit-profile-details .edit-profile-details-name {
    display: flex;
    justify-content: space-between;
}
.edit-profile-details .edit-profile-details-name input {
    padding: 0.5rem;
    margin: 0.1rem;
}
.edit-profile-details .edit-profile-details-bio {
    display: flex;
    justify-content: space-between;
}
.edit-profile-details .edit-profile-details-bio input {
    padding: 0.5rem;
    margin: 0.1rem;
}
.edit-profile-details .edit-profile-details-website {
    display: flex;
    justify-content: space-between;
}
.edit-profile-details .edit-profile-details-website input {
    padding: 0.5rem;
    margin: 0.1rem;
}

.editProfileModal button{
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: chartreuse;
    cursor: pointer;
}