.editProfileModalWrapper {
    background: rgb(50, 40, 49, .311);
    width: 100%;
    max-width: 400px;
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8888;
    border: none;
    /* border-radius: 5px; */
    padding: 0.8rem;
}

.editProfileModal {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    margin: auto;
    top: 5rem;
    right: 1rem;
    width: 90%;
    border-radius: 5px;
    padding: 1rem;
}

.editProfileModal .edit-profile-modal-header {
    display: flex;
    justify-content: space-around;
}

.edit-profile-modal-header p {
    position: relative;
    top: -1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.edit-profile-modal-header i {
    cursor: pointer;
}

.edit-profile-image i {
    cursor: pointer;
}

.edit-profile-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 1rem;
    gap: 0.1rem;
}

.edit-profile-details .edit-profile-details-name {
    display: flex;
    justify-content: space-between;
}

.edit-profile-details .edit-profile-details-name input {
    padding: 0.5rem;
    margin: 0.1rem;
    margin-top: 0.5rem;
    margin-right: -0.5rem;
}

.edit-profile-details .edit-profile-details-bio {
    display: flex;
    justify-content: space-between;
}

.edit-profile-details .edit-profile-details-bio input {
    padding: 0.5rem;
    margin: 0.1rem;
    margin-top: 0.5rem;
    margin-right: -0.5rem;
}

.edit-profile-details .edit-profile-details-website {
    display: flex;
    justify-content: space-between;
}

.edit-profile-details .edit-profile-details-website input {
    padding: 0.5rem;
    margin: 0.1rem;
    margin-top: 0.5rem;
    margin-right: -0.5rem;
}

.editProfileModal button {
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: rgb(10, 177, 244);
    cursor: pointer;
    color: white
}

.editProfileModal .edit-profile-image .select-avatar img {
    width: 20px;
    height: 20px;
    /* margin-left: 1rem;
    margin-top: 1rem; */
}

@media(min-width: 520px) {
    .editProfileModalWrapper {
        background: rgb(235, 231, 231);
        width: 43vw;
        position: fixed;
        height: 50vh;
        margin: auto;
        top: 10rem;
        left: 15rem;
        z-index: 8888;
        border: none;
        border-radius: 5px;
        padding: 1rem;
    }
}

@media(min-width: 768px) {
    .editProfileModalWrapper {
        background: rgb(50, 40, 49, .311);
        width: 100vw;
        max-width: 100rem;
        position: fixed;
        height: 100vh;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 8888;
        border: none;
        border-radius: 5px;
        padding: 1rem;
    }

    .editProfileModal {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: relative;
        margin: auto;
        top: 10rem;
        left: -5rem;
        width: 20%;
        border-radius: 5px;
        padding: 1rem;
    }
}