.avatar-modal-wrapper {
    background: rgb(235, 231, 231);
    width: 80vw;
    position: fixed;
    height: auto;
    top: 8rem;
    left: 1.5rem;
    z-index: 8888;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

.avatar-modal {
    display: flex;
    flex-direction: column;
}

.avatar-modal .avatar-modal-header {
    display: flex;
    justify-content: space-around;
}

.avatar-modal-header p {
    position: relative;
    top: -1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.avatar-modal-header i {
    cursor: pointer;
}

.avatar-modal .avatar-images img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}



@media(min-width: 520px) {
    .avatar-modal-wrapper {
        background: rgb(235, 231, 231);
        width: 50vw;
        position: fixed;
        height: 50vh;
        margin: auto;
        top: 10rem;
        left: 15rem;
        z-index: 8888;
        border: none;
        border-radius: 5px;
        padding: 1rem;
    }
}

@media(min-width: 768px) {
    .avatar-modal-wrapper {
        background: rgb(235, 231, 231);
        width: 24vw;
        position: fixed;
        height: 50vh;
        margin: auto;
        top: 10rem;
        left: 32rem;
        z-index: 8888;
        border: none;
        border-radius: 5px;
        padding: 1rem;
    }
}