.postcard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(163, 160, 160);
    margin: 0.5rem;
    border-radius: 5px;
    /* height: auto; */
}

.postcard .postcard-header{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    margin: 1rem;
}

.postcard .postcard-header-image{
    display: flex;
}

.postcard .postcard-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.postcard .postcard-header .postcard-header-title{
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    text-align: left;
    line-height: 1px;
    cursor: pointer;
    /* border: 1px solid green */
}

.postcard .postcard-header .postcard-header-title p{
    /* line-height: 1px; */
    /* margin: 0; */
    /* padding: 0; */
    font-size: 14px;
}

.postcard-header-button-section .follow-unfollow-button{
    padding: 0.5rem;
    border: none;
    background-color: rgb(10, 177, 244);
    border-radius: 5px;
    cursor: pointer;
    color: white
}

/* .postcard-header-button-section {
        border: 1px solid red
} */
.postcard-header-button-section i{
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.postcard .post-content{
    text-align: left;
    padding-left: 1rem;
    margin:0;
}

.postcard .post-image img{
    max-width: 300px;
    height: 300px;
    box-sizing: border-box;
}

.postcard .post-action-buttons {
    display: flex;
    justify-content: space-between;
}

.postcard .post-action-buttons .section-1{
    display: flex;
}

.postcard .post-action-buttons .post-card-like-button{
    font-size: 1.5rem;
    margin: 0.5rem;
    padding:0.rem;
}

.postcard .post-action-buttons .post-card-like-button i{
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.rem;
    cursor: pointer;
}


.postcard .post-action-buttons .post-card-comment-button {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.postcard .post-action-buttons .post-card-comment-button i{
    font-size: 1.5rem;
    margin-right: 0.1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.postcard .post-action-buttons .post-card-bookmark-button {
    font-size: 1.5rem;
    margin-right: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.comment-modal{
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.comment-modal .comments-section {
   text-align: left;
}

.comment-user-tag {
    display: flex;
    cursor: pointer;
    padding: 0.1rem;
}

.comment-user-details {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 0.5rem;
    text-align: left;
    font-size: 14px;
    line-height: 1px;
    position: relative;
    top: -1rem;
}
.comment-modal .comments-section img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment-modal .comment-box{
    display: flex;
}

.comment-modal .comment-box img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* margin-right: 1rem; */
}

.comment-modal .comment-buttons button{
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: rgb(10, 177, 244);
    border-radius: 5px;
    cursor: pointer;
    color: white;

}

.comment-modal .comment-buttons .cancel-comment-btn {
    background-color: lightgray;
    border: 1px solid black;
    color: black;
}

@media(min-width: 520px){
    .postcard {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        min-width: 335px;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .postcard .postcard-header .postcard-header-title {
        text-align: left;
        line-height: 15px;
        cursor: pointer;
    }
        .postcard .postcard-header .postcard-header-title p {
            /* line-height: 1px;
            margin: 0;
            padding: 0; */
            font-size: 14px;
        }
}

@media(min-width: 768px) {
    .postcard {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        min-width: 450px;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .postcard .postcard-header .postcard-header-title p {
        /* line-height: 1px;
        margin: 0;
        padding: 0; */
        font-size: 14px;
    }
}