.postcard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.postcard .postcard-header{
    display: flex;
    justify-content: space-around;
    padding: 0.2rem;
    margin: 1rem;
}

.postcard .postcard-header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.postcard .postcard-header .postcard-header-title{
    text-align: left;
    line-height: 1px;
    cursor: pointer;
}

.postcard-header-button-section .follow-unfollow-button{
    padding: 0.5rem;
    border: none;
    background-color: chartreuse;
    border-radius: 5px;
    cursor: pointer;
}

.postcard-header-button-section i{
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.postcard .post-content{
    text-align: left;
    padding-left: 1rem;
    margin:0;
}

.postcard .post-image img{
    max-width: 300px;
    height: 300px;
}

.postcard .post-action-buttons {
    display: flex;
    justify-content: flex-start;
}

.postcard .post-action-buttons .post-card-like-button{
    font-size: 1.5rem;
    margin: 0.5rem;
    padding:0.rem;
}

.postcard .post-action-buttons .post-card-like-button i{
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.rem;
    cursor: pointer;
}


.postcard .post-action-buttons .post-card-comment-button {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.postcard .post-action-buttons .post-card-comment-button i{
    font-size: 1.5rem;
    margin-right: 0.1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.postcard .post-action-buttons .post-card-bookmark-button {
    font-size: 1.5rem;
    margin-right: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.comment-modal{
    display: flex;
    /* flex-direction: column; */
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.comment-modal .comment-box{
    display: flex;
}

.comment-modal .comment-box img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* margin-right: 1rem; */
}
.comment-modal .comment-box input {
    padding: 0.8rem;
}

.comment-modal .comment-buttons button{
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: chartreuse;
    border-radius: 5px;
    cursor: pointer;

}

.comment-modal .comment-buttons .cancel-comment-btn {
    background-color: lightgray;
    border: 1px solid black;
}