.user-profile-container{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 5px;
    margin: 0.5rem;
}

.profile-details{
    display: flex;
    padding: 0.5rem;
    width:100%;
    justify-content: space-between;
}

.user-profile-container .profile-details img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.details{
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 16px;
    width: fit-content
}

.name-details{
    line-height: 5px;;
}

.followers-details{
    display: flex;
    cursor: pointer;
}

.followers-details:hover {
    color:green;
}

.following-count{
    margin-right: 1rem;
}
.edit-profile-btn{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #f1c40f;
    width: 6rem;
    cursor: pointer;
    border: none;
}

.bio-link{
    color:#00a6fb;
}