.bookmark-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem
}

.bookmark-container .bookmark-header {
    text-align: left;
    padding: 0rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.bookmark-search {
    position: relative;
    top: -1rem;
}

.bookmark-header-name p{
    font-size: 1rem;
    font-weight: bold;
}