.bookmark-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem
}

.bookmark-container .bookmark-header {
    text-align: left;
    padding: 0rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.bookmark-search {
    position: relative;
    top: -1rem;
}

.bookmark-header-name p{
    font-size: 1rem;
    font-weight: bold;
}

@media(min-width: 520px) {
    .bookmark-container {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .bookmark-page {
        margin-left: 14rem;
        margin-bottom: 1rem;
        margin-right: 5rem;
    }

    .bookmark-suggestion-card {
        margin-left: 14rem;
        width: 350px
    }
}

@media(min-width: 768px) {
    .bookmark-container {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bookmark-page {
        margin-left: 30rem;
        margin-bottom: 1rem;
        margin-right: 5rem;
    }

    .bookmark-suggestion-card {
        position: fixed;
        left: 50rem;
        width: 400px;
        right: 1rem;
    }
}