.edit-post-modal-wrapper{
    background-color: rgb(50, 40, 49, .311);
    width: 100%;
    max-width: 400px;
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8888;
    border: none;
    /* padding: 1rem; */
    /* margin: 1rem; */
    
}
.edit-post-modal{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    margin: auto;
    top:5rem;
    width: 95%;
    border-radius: 5px;
    padding: 1rem;
}

.edit-post-modal .edit-post-header{
    font-size: 1rem;
}

.edit-post-modal .edit-post-header-section{
    display: flex;
}

.edit-post-modal .edit-post-header-section .edit-post-header-image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.edit-post-modal .edit-post-header-section .edit-post-header-input textarea {
    /* border: 1px solid; */
    margin: 0.5rem;
    padding-bottom: 2rem;
    width: 145%;
    border: none;
    
}
.edit-post-modal .edit-post-header-section .edit-post-header-input textarea:focus {
    outline: none;
}

.edit-post-modal .edit-post-image {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.edit-post-modal .edit-post-image img{
    width: 90%;
    /* height: 250px; */
}

.edit-post-modal .edit-post-image i{
    font-size: 2rem;
    position: relative;
    top: 0rem;
    left: -1rem;
    cursor: pointer;
}

.edit-post-modal .edit-post-buttons button{
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color:rgb(10, 177, 244);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.edit-post-modal .edit-post-buttons .btn-cancel{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.edit-post-modal .edit-post-footer{
    display: flex;
    justify-content: space-around;
}

.edit-post-modal .edit-post-footer i{
    font-size: 2rem;
    margin: 0.5rem;
    cursor: pointer;
}

@media(min-width: 520px) {
    .edit-post-modal-wrapper {
        /* background: rgb(235, 231, 231);
        width: 50vw;
        position: fixed;
        height: 60vh;
        margin: auto;
        top: 10rem;
        left: 15rem;
        z-index: 8888;
        border: none;
        border-radius: 5px;
        padding: 1rem; */

        background-color: rgb(50, 40, 49, .311);
            width: 100%;
            max-width: 400px;
            position: fixed;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 8888;
            border: none;
    }
        .edit-post-modal {
            display: flex;
            flex-direction: column;
            background-color: white;
            position: relative;
            margin: auto;
            top: 10rem;
            width: 30%;
            border-radius: 5px;
        }
}

@media(min-width: 768px){
    .edit-post-modal-wrapper {
        /* background: rgb(235, 231, 231);
        width: 28vw;
        position: fixed;
        height: 60vh;
        margin: auto;
        top: 10rem;
        left:29.5rem;
        z-index: 8888;
        border: none;
        border-radius: 5px;
        padding: 1rem; */
        background-color: rgb(50, 40, 49, .311);
        max-width: 100%;
        /* max-width: 400px; */
        position: fixed;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 8888;
        border: none;
    }
    .edit-post-modal {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: relative;
        margin: auto;
        top: 10rem;
        width: 30%;
        border-radius: 5px;
    }
    .edit-post-modal .edit-post-header-section .edit-post-header-input textarea {
        /* border: 1px solid; */
        margin: 0.5rem;
        padding-bottom: 2rem;
        width: 200%;
        border: none;

    }
}