.sortbar{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    margin-bottom: 1rem;
    padding: 0.2rem;
}

.sortbar p{
    margin-top: 0;
    margin-bottom:0;
    margin-left:1rem;
    font-weight: bold;
}

.sortbar i{
    margin-right: 1rem;
}
