.explore-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
    font-size: 14px;
}

.explore-container .explore-header{
    text-align: left;
    padding: 0rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    position: relative;
    top: 1rem;
}

.explore-search{
    position: relative;
    top: -1rem;
}

.explore-header-name{
    font-size: 1rem;
    font-weight: bold;
}

@media(min-width: 520px) {
    .explore-container {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .explore-page {
        margin-left: 14rem;
        margin-bottom: 1rem;
        margin-right: 5rem;
    }

    .explore-suggestion-card {
        margin-left: 14rem;
        width: 350px
    }
}

@media(min-width: 768px) {
    .explore-container {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .explore-page {
        margin-left: 30rem;
        margin-bottom: 1rem;
        margin-right: 5rem;
    }

    .explore-suggestion-card {
        position: fixed;
        left: 50rem;
        width: 400px;
        right: 1rem;
    }
}