.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
}

.profile-container .profile-header{
    text-align: left;
    padding: 0rem;
    padding-left: 1rem;
    margin: 0;
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.profile-header .profile-name{
    /* display: flex; */
    font-size: 1rem;
    font-weight: bold;;
}
