.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    overflow: hidden;
}
.login-page .login-image {
    position: relative;
    /* margin: auto; */
    padding: 1rem;
    margin: 1rem;
}
.login-page .login-image img{
    width: 100%;
    max-width: 500px;
    height: 300px
}
.login-container{
    display: flex;
    justify-content: center;
    position: relative;
    /* top: 11rem; */
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    max-width: 500px;
    border: rgb(163, 160, 160);
    border-radius: 5px;
}

.login-form{
    display: flex;
    flex-direction:column;
}
.login-form .login{
    margin:0
}

 .login-form .app-name-section{
    padding: 0.2rem;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}

 /* .login-form .about-app-section{
    font-size: 1.3rem;
} */

.login-credentials form{
    display: flex;
    flex-direction: column;
}

.login-username{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0.5rem;
}

.login-username input{
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* border: 2px solid black; */
}

.login-password{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0.5rem;
}

.login-password input{
    padding: 0.5rem;
        margin-top: 0.5rem;
    /* border: 1px solid black; */
    /* border-right: none; */
}

.login-password .login-password-span{
    position: relative;
    right: -12.5rem;
    top: -2rem;
}

.login-password i{
    font-size: 1.5rem;
    cursor: pointer;
}

.login-buttons{
   display: flex;
   justify-content: space-evenly;
   margin-top: 0.5rem;
}

.login-buttons .login-btn {
    padding: 0.5rem;
    border-radius: 5px;
    width: 5rem;
    background-color:rgb(10, 177, 244);
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    color: white
}

.login-buttons .guest-login-btn {
    padding: 0.5rem;
    border-radius: 5px;
    width: 8rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.signup-section{
    margin: 0.5rem;
}

.signup-section .signup-link{
    margin: 0.5rem;
    color: rgb(10, 177, 244)
}

@media(min-width: 768px){
    .login-page {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        max-width: 100%;
        position: relative;
        left: 0;
        bottom: 0;
        top: 2.5rem;
        right: 0;
        overflow: hidden;
    }
    
    .login-page .login-image {
        position: relative;
        margin: auto;
        padding: 1rem;
        margin: 1rem;
    }

    .login-page .login-image img {
        width: 100%;
        height: 600px
    }
    .login-container {
        display: flex;
        justify-content: center;
        position: relative;
        top: 5rem;
        margin: 1rem;
        padding: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        width: 400px;
        border: rgb(163, 160, 160);
        border-radius: 5px;
        height: 400px;
    }
}


